@model JrPricingWebApplication.Models.FarePostRequestModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>新幹線　料金計算</h1>

<div class="row">
    <diiv class="col-md-6">
        <form asp-action="Calculate">
            <div class="form-group row">
                <label asp-for="departure" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <select asp-for="departure" class="form-control">
                        <option selected value="Tokyo">東京</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="destination" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <select asp-for="destination" class="form-control">
                        <option selected value="ShinOsaka">新大阪</option>
                        <option value="Himeji">姫路</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="superExpressName" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <select asp-for="superExpressName" class="form-control">
                        <option selected value="Hikari">ひかり</option>
                        <option value="Nozomi">のぞみ</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="fareName" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <select asp-for="fareName" class="form-control">
                        <option selected value="Adult">大人</option>
                        <option value="Child">子ども</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="seatName" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <select asp-for="seatName" class="form-control">
                        <option selected value="Reserved">指定</option>
                        <option value="Free">自由</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="tripName" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <select asp-for="tripName" class="form-control">
                        <option selected value="Oneway">片道</option>
                        <option value="RoundTrip">往復</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="boardingDate" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <Input asp-for="boardingDate" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="numberOfPeopleValue" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-6">
                    <Input asp-for="numberOfPeopleValue" class="form-control" value="1" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="計算する" class="btn btn-primary" />
            </div>
</form>
    </diiv>

</div>
